<div class="top_image">
  <section class="container clearfix">
    <div class="row">
      <%= form_for @information,url:admin_informations_path do |f| %>
      <div class="col-md-8 col-md-offset-2 new-container">
        <h1 class="new-topic text-center">New Information</h1>
          <hr>
          <div class="col-md-9 col-md-offset-2">
            <div class="row">
              <b>Information Title</b>
                <%= f.text_field :title, class:"form-control", placeholder: "information title" %>
              <b>Information Detail</b>
                <%= f.text_area :details, 'data-provider': :summernote, src: "./js/summernote/lang/summernote-ja-JP.js" %>
            </div>
              <div class="new-actions">
                <%= f.submit "save", class:"btn btn-dark btn-lg btn-block" %>
              </div>
              <% end %>
                <div class="col-md-9 col-md-offset-5">
                  <div class ="back">
                    <%= link_to 'Back', admin_homes_topic_path, class: "btn-default" %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </section>
</div>