<div class="show-content">
<section class="container-fluid clearfix">
	<h1 class="text-center">Discography</h1>
		<div class="row">
			<div class="col-md-8 col-sm-offset-2 show-container">
				<div class="row clearfix">
					<div class="col-md-6">
						<div class="item_show">
							<div class="item_show_image">
								<%= attachment_image_tag @disc, :image, size: "300x300", class: "center-block" %>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>シングルアルバム名</th>
									<th><%= @disc.name %></th>
								</tr>
								<tr>
									<th>CD種別</th>
									<th><%= @disc.category.name %></th>
								</tr>
								<tr>
									<th>価格(税込)</th>
									<th>¥ <%= @disc.price %>
									</th>
								</tr>
								<tr>
									<th>発売日</th>
									<th><%= @disc.release_date %></th>
								</tr>
							</thead>
						</table>
					</div>
		        </div>
		        <hr>


					<div class="row">
						<h3 class="text-left">
						<div class ="disk">
							<% @disc.disks.each do |disk| %>
								<p>ディスク<%= disk.disk_order %><br>
									<% disk.songs.each do |song| %>
										<p><%= song.song_order %>.<%= song.name %></p>
									<% end %>
								</p>
							<% end %>
						</div>
					</div>