<div class="top_image">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <h1 class="new-music">Music</h1>
            <div class="example">
		             <h1 class ="font-weight-bold">
                   <%= @music.name %>
                 </h1>
                <image class ="music image">
                  <%= attachment_image_tag @music, :image, size: "300x300" %>
                </image>
                <div class = "music">
                  <%= audio_tag(@music.listening, :autoplay => false, :controls => true) %>
                </div>
                <div class ="comment">
                  <h2>vivily comment</h2>
           	      <%= @music.comment.html_safe %>
                </div>
                </div>
                <div class ="new-actions">
                  <%= link_to "Edit", edit_admin_music_path(@music), class: "btn-circle-border-double"%>
                  <%= link_to "Destroy", admin_music_path(@music), class: "btn-circle-border-double-second", method: :delete, "data-confirm" => "Are you sure?" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
