<%= form_for @blog,url:admin_blogs_path do |f| %>
      <div class="form-group field">
          <%= f.label :title , class: "form-control-label"%>
          <%= f.text_field :title %>
          <%= f.label :details , class: "form-control-label"%>
          <%= f.text_area :details, 'data-provider': :summernote, src: "./js/summernote/lang/summernote-ja-JP.js" %>
      </div>
      <div class="actions">
        <%= f.submit "save"%>
      </div>
    <% end %>
