 <div class="top_image">
  <div class="content">
     <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-2">
          <h1 class="new-blog">Blog</h1>
              <div class="example">
                <p><%= @blog.created_at.strftime('%Y/%m/%d') %></p><br>
                <div class ="blog title">
                  <%= @blog.title %>
                </div>
                <hr>
                <p><%= @blog.details.html_safe %></p>
              </div>
              <div class="action">
                <%= link_to "Edit", edit_admin_blog_path(@blog), class: "btn-circle-border-double"%>
                <%= link_to "Destroy", admin_blog_path(@blog), class: "btn-circle-border-double-second", method: :delete, "data-confirm" => "Are you sure?" %>
              </div>
              <hr>
          </div>
      </div>
    </div>
  </div>
</div>
