<section class="container clearfix">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 new-container">
      <h1 class="text-center">Video Detail</h1>
      <hr>
      <div class="row">
        <%= form_for @video,url: admin_video_path do |f|%>
            <%= f.label :シングルアルバム名 %><br>
              <%= f.text_field :title, class:"form-control", placeholder: "シングル/アルバム名" %>
            <b>画像</b>
            <%= f.attachment_field :image %>
            <b>Video</b>
            <%= f.file_field :video %>
          <%= f.submit "保存",method: :PATCH, class:"btn btn-lg btn-block btn-base-1 mt-20 bg-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>