<div class="top_image">
  <div class="content">

<nav>
      <ul class="float-right">
      	<li>
          <% @categories.each do |category| %>
            <%= link_to "/customers/category/#{category.id}" do %>
	        <%= category.name %>(<%= category.discs.count %>)
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="container">
	  <div class="row">
		<div class="col-md-9 col-md-offset-0">
	       <h2 class="new-disc">Discography</h2>
		   <% @disc.each do |disc| %>
		     <image class="example_image">
		  	     <%= link_to customers_disc_path(disc) do %>
			     <%= attachment_image_tag disc, :image, size: "200x200" %>
			     <% end %>
		     </image>
		   <% end %>
	    </div>
	  </div>
    </div>
  </div>
</div>
