<!DOCTYPE html>
<html>
  <head>
  <title>vivily</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/0a9fd1077e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

</head>

<body>
   <% if admin_signed_in? %>
   <div class= "head_image">
  </div>
    <header class="navbar">
    <nav class="navbar-left">
      <a href="admin/homes/topic" class="btn-circle-fishy">vivily</a>
    </nav>
    <nav>
      <ul class="float-right">
        <li>
          <%= link_to 'User', admin_customers_path, class: "btn-default" %>
        </li>
        <li>
          <%= link_to 'Information/topic', admin_homes_topic_path, class: "btn-default" %>
        </li>
        <li>
          <%= link_to 'Live', admin_homes_live_path, class: "btn-default" %>
        </li>
        <li>
          <%= link_to 'Discography/Music', admin_homes_music_path, class: "btn-default" %>
        </li>
        <li>
          <%= link_to 'Movie', admin_homes_movie_path, class: "btn-default" %>
        </li>
        <li>
          <%= link_to 'Log Out', destroy_admin_session_path, method: :delete, class: "btn-default" %>
        </li>
    </nav>
    <p class="navbar-text navbar-right">
    </p>
  <% elsif customer_signed_in? %>
    <nav class="navbar-left">
      <a href="/customers/topics" class="btn-circle-fishy">vivily</a>
    </nav>
    <nav>
      <ul class="float-right">
        <li>
          <%= link_to 'My Page', edit_customers_customer_path(current_customer.id), class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to 'About', customers_homes_about_path, class: "btn-default", style: "margin-left: 20px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to 'Topic', customers_topics_path(current_customer.id), class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to 'Movie', customers_movies_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
        <%= link_to "Music", customers_musics_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to 'Log Out', destroy_customer_session_path, method: :delete, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <p class="navbar-text navbar-right">
        ようこそ　<%= current_customer.last_name %><%= current_customer.first_name %>さん。
        </p>
      </ul>
    </nav>
 <% else %>
 <div class= "head_image">
  </div>
    <nav class="navbar-left">
      <a href="/customers/informations" class="btn-circle-fishy">vivily</a>
    </nav>
    <nav>
      <ul class="float-right">
        <li>
          <%= link_to "News", customers_informations_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%=link_to "live", customers_lives_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to "Biography", customers_homes_biography_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to "Discography", customers_discs_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to "Video", customers_videos_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to "Crew Sign In", new_customer_registration_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to "Crew Sign_Up", new_customer_session_path, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        </br>
        <p class="navbar-text navbar-right">
          ようこそ　ゲストさん。
        </p>
      </ul>
    </nav>
  <% end %>
  </header>
<%= yield %>
<footer class="footer navbar-inverse", style="height: 80px; line-height: 80px; font-size: 20px;">
  <div class="container">
    <nav class="navbar">
      <ul>
        <li>
          <a href="https://twitter.com/vivily_official" class="fab fa-twitter-square fa-3x"></a>
        </li>
        <li>
          <a href="https://www.instagram.com/vivily_official/" class="fab fa-instagram fa-3x"></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC0XjBsw1SuJhie-QHks3U6A" class="fab fa-youtube-square fa-3x"></a>
        </li>
      </ul>
    </nav>
    <p class="nav navbar-nav navbar-center", style="color:white">
    © All rights reserved by vivily.Inc.
  </p>
  </div>
</footer>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>

